<!-- <h1>Sign Up</h1> -->

<% if @user.errors.any? %>

  <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li class="robi"><%= msg %></li>
    <% end %>
  </ol>
<% end %>
<div class="row">
  <div class="col-md-5 offset-md-4">
    <div class="form-group login-box">
      <h1>Sign Up</h1>
      <%= form_for @user do |f| %>

       <%= f.label :name %>
       <%= f.text_field :name, class: "form-control" %>

       <%= f.label :email %>
       <%= f.email_field :email, class: "form-control" %>

       <%= f.label :password %>
       <%= f.password_field :password, class: "form-control" %>

       <%= f.label :password_confirmation %>
       <%= f.password_field :password_confirmation, class: "form-control" %>

       <%= f.submit "Sign up!", class: "btn btn-primary" %>
      <% end %>
   </div>
  </div>
</div>
