
      <div class="row">
       <div class="col-md-7 offset-md-2">
        <div class="form-group login-box">
         <%= form_for @project do |f| %>
         <%= f.label :name,'Project name' %>
         <%= f.text_field :name, class: "form-control" %>
         <%= f.label :description %>
         <%= f.text_field :description, class: "form-control" %>
         <%= f.submit "Create project", class: "btn btn-primary"  %>
         <% end %>
        </div>
       </div>
      </div>
