<h1>Project description:<%= @project.description %></h1>

<!-- <ul>
  <% if @project.description.present? %>
    <li><%= @project.description %></li>
  <% end %>
  <li>Project: <%= @project.description %></li>

</ul> -->

<h2>Jobs:</h2>
<% @project.jobs.each do |job| %>
<p>Details about job:
  <%= link_to job.description, job_path(job.id) %>    <!--only job from this projects !!!!!!!!!!!!!-->
</p>
<% end %>

<%= link_to 'New job', new_job_path %>

<div class="controls">

  <%= link_to 'Delete project', project_path(@project), :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>
