<!DOCTYPE html>
<html>
  <head>
    <title>Time</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Gaegu|Inconsolata|Pangolin|Secular+One" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>

  <body>
    <nav class="nav">
      <%= link_to 'Home', root_path %>
      <% if @current_user.present? %>

        <%= link_to 'Current Projects', projects_path %>
        <%= link_to 'New Project', new_project_path %>
        <%= link_to 'Email addresses', users_path if @current_user.admin? %>
        <%= link_to "Sign out #{ @current_user.email }", login_path, :method => 'delete' %>
      <% else %>
        <%= link_to 'Sign up', new_user_path %>
        <%= link_to 'Sign in', login_path %>
      <% end %>

    </nav>
    
    <%= yield %>
    

           <div class="fixed-bottom text-center">
             &copy; 2022 Robert Maculewicz
               </div>

  </body>
  
</html>



